geoipupdate_6.1.0_linux_amd64.deb
./*/.vagrant
.env
.env/
*.csv
*.log
api_outputs/
clear_tables.py
.env.docker

# Ignorar arquivos __pycache__ e arquivos .pyc
/__pycache__/
**/*.pyc
*.pyc
__pycache__/

# Ignorar dependências do Python instaladas no ambiente virtual
/python/
*.egg-info/
*.dist-info/
__pycache__/
*.egg

# Ignorar outros arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Ignorar o diretório de dados do PostgreSQL
docker/grafana/
docker/postgres/
docker/redis-data/

# IA
.env-sigma
__pycache__/
*.py[cod]
*$py.class
*.csv
*.log
.venv
.env-ia
*.png
*.joblib
*.keras
data/
datasets/
outputs/
weights/
.env-sigma
__pycache__/
*.py[cod]
*$py.class
*.log
.venv
*.png
.python-version
outputs/
.vscode/
*.png
*_norm.csv
*_ips.csv
*_results.csv
*_test1.csv
*_hyperparameters.csv
*.joblib
*.keras
summary_report.md