# Configurações do banco
PG_USER=
PG_PASSWORD=
PG_DB=
PG_DB_LOCAL=
PG_PORT=
PG_HOST=

# Chaves de APIs
API_KEY=
API_KEY_VIRUSTOTAL=
API_KEY_PULSEDIVE=
API_KEY_IPVOID=
token=

# Hosts permitidos na API
ALLOWED_HOSTS=

