# Configurações do banco
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_DB_LOCAL=
POSTGRES_HOST=
POSTGRES_PORT=

# Chaves de APIs
API_KEY=
API_KEY_VIRUSTOTAL=
API_KEY_PULSEDIVE=
API_KEY_IPVOID=
token=

# Django
ALLOWED_HOSTS=
SECRET_KEY=
DEBUG=
